In [1]:
# linear algebra
import numpy as np
 
# data processing
import pandas as pd

 
# data visualization
import matplotlib.pyplot as plt
import seaborn as sns
 
# Algorithms
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, label_binarize
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_curve, precision_recall_curve, auc, make_scorer, confusion_matrix, f1_score, fbeta_score, roc_auc_score
# Import the Naive Bayes, logistic regression, Bagging, RandomForest, AdaBoost, GradientBoost, Decision Trees and SVM Classifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [2]:
train = pd.read_csv("training_data.csv")
test = pd.read_csv("testing_data.csv")

In [3]:
pd.set_option('display.max_columns', 700)

In [4]:
train.head(20)

,Unnamed: 0,ID,Salary,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityID,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,0,0,200000,Bangalore,m,1990-01-15,55.50,state board,2007.0,52.50,state board,44,2,MCA,computer application,72.80,44.0,0,Uttar Pradesh,2013,415,495,445,0.864685,525,-1,-1,-1,-1,-1,-1,NaN,-0.6201,-0.1437,0.9066,-1.6273
1,1,1,190000,Chennai,m,1990-11-02,83.00,state board,NaN,86.00,state board,11473,2,B.Tech/B.E.,electronics and communication engineering,71.00,11473.0,1,Tamil Nadu,2013,555,555,280,0.376060,425,300,-1,-1,-1,313,-1,-0.1590,0.8784,0.7785,0.1459,1.2470
2,2,2,335000,Chennai & Mumbai,m,1991-07-31,81.20,cbse,2008.0,75.40,cbse,2795,1,B.Tech/B.E.,computer engineering,74.10,2795.0,0,Madhya Pradesh,2013,495,595,625,0.911395,685,-1,500,-1,-1,-1,-1,-1.0208,-1.1196,-0.6048,0.5262,0.2889
3,3,3,325000,Noida,m,1990-07-16,85.00,cbse,2008.0,68.60,cbse,5232,2,B.Tech/B.E.,NaN,64.50,5232.0,0,Haryana,2012,585,465,425,0.450877,395,-1,-1,-1,-1,-1,-1,-0.9969,0.0328,-0.3440,0.7086,-1.2354
4,4,4,360000,Chennai,m,1991-07-14,89.90,state board,NaN,84.50,state board,8524,2,B.Tech/B.E.,electronics and communication engineering,68.00,8524.0,0,Karnataka,2013,675,485,485,-1.000000,455,-1,-1,-1,-1,-1,-1,1.2772,0.8784,0.4711,-0.7415,0.4805
5,5,5,100000,kolhapur,f,1991-05-01,76.93,0,NaN,79.50,0,7172,2,B.Tech/B.E.,computer engineering,63.25,7172.0,0,Maharashtra,2012,394,475,515,0.765674,485,-1,-1,-1,-1,-1,-1,0.2009,0.9688,-1.7954,-0.4078,0.5419
6,6,6,325000,hyderabad,f,1993-08-22,87.00,state board,2010.0,96.00,state board,1242,2,B.Tech/B.E.,electronics and communication engineering,82.90,1242.0,0,Telangana,2014,510,570,680,0.943272,405,452,-1,-1,-1,-1,-1,0.5591,0.8784,0.9322,-0.8682,1.0554
7,7,7,1200000,Bangalore,m,1988-12-06,92.80,cbse,2005.0,87.00,cbse,443,1,M.Tech./M.E.,electronics and electrical engineering,95.30,443.0,0,Uttar Pradesh,2012,695,675,725,0.824666,-1,400,-1,-1,-1,-1,-1,1.4374,1.7488,0.9623,-2.1704,0.8973
8,8,8,705000,New Delhi,m,1991-03-27,90.00,cbse,2009.0,92.00,cbse,7542,2,B.Tech/B.E.,electronics and communication engineering,76.40,7542.0,1,Delhi,2013,695,450,665,0.538387,485,333,-1,-1,-1,-1,-1,NaN,0.0459,-0.4511,NaN,0.2889
9,9,9,335000,Navi Mumbai,f,1990-09-30,72.00,cbse,2009.0,73.00,cbse,13210,2,B.Tech/B.E.,computer engineering,71.00,13210.0,0,Uttar Pradesh,2013,485,465,400,0.765674,485,-1,-1,-1,-1,-1,-1,-0.7335,-0.2871,-0.1437,1.9207,-0.6692
10,10,10,420000,Mumbai,m,1993-05-07,89.00,state board,2010.0,82.20,state board,4042,2,B.Tech/B.E.,computer science & engineering,72.40,4042.0,0,Tamil Nadu,2014,450,510,575,0.622643,505,-1,407,-1,-1,-1,-1,0.8463,0.8784,1.7007,-1.1218,0.8637
11,11,11,700000,Bangalore,m,1988-09-22,91.00,tamilnadu state board,2006.0,95.00,tamilnadu state board,8799,2,B.Tech/B.E.,computer engineering,74.50,8799.0,0,Tamil Nadu,2010,515,595,375,-1.000000,-1,-1,-1,-1,-1,-1,-1,0.2009,1.2808,-0.9245,-1.7004,-0.7615
12,12,12,480000,Bangalore,f,1990-03-21,89.92,karnataka state board,2008.0,77.00,karnataka state board,1384,2,B.Tech/B.E.,industrial & production engineering,76.50,1384.0,0,Karnataka,2012,525,415,385,-1.000000,-1,-1,-1,-1,-1,-1,-1,0.6646,1.5928,0.8171,0.2973,0.8973
13,13,13,240000,sampla,m,1992-07-17,68.40,cbse,2010.0,74.60,cbse,7255,2,B.Tech/B.E.,electronics and communication engineering,79.50,7255.0,0,Haryana,2014,500,525,595,0.207392,-1,260,-1,-1,-1,420,-1,0.2718,1.3779,0.3174,-0.2344,1.0554
14,14,14,775000,Dammam,m,1991-01-12,87.40,cbse,2008.0,63.00,cbse,11973,1,B.Tech/B.E.,mechanical engineering,55.00,11973.0,1,Maharashtra,2013,580,555,410,0.829585,-1,-1,-1,469,-1,-1,-1,-0.8772,-0.1206,-0.1437,-0.2344,-0.0943
15,15,15,335000,Mumbai,m,1991-09-27,93.33,icse,2009.0,76.66,cbse,8440,1,B.Tech/B.E.,NaN,72.00,8440.0,0,Orissa,2014,650,570,750,-1.000000,515,-1,-1,-1,-1,-1,-1,0.5591,0.3789,-0.1437,NaN,0.6721
16,16,16,515000,-1,f,1990-03-24,86.60,board of secondary education,2007.0,92.00,board of intermediate,9775,2,B.Tech/B.E.,computer engineering,77.96,9775.0,1,Telangana,2011,495,555,425,0.793581,495,-1,-1,-1,-1,-1,-1,0.8192,0.8128,0.5269,-1.4653,0.1864
17,17,17,650000,Bangalore,m,1987-06-01,77.50,0,2005.0,86.00,0,3395,1,MCA,computer application,67.40,3395.0,0,West Bengal,2011,345,455,435,0.600057,435,-1,-1,-1,-1,-1,-1,0.3836,0.7135,0.0914,0.1477,-1.0458
18,18,18,240000,Rewari,f,1989-07-15,78.00,cbse,2006.0,70.10,cbse,166,2,B.Tech/B.E.,electronics and communication engineering,68.20,166.0,0,Haryana,2011,415,595,495,0.694479,-1,366,-1,-1,-1,-1,-1,0.8192,-0.0842,-0.5980,-0.6428,-0.6035
19,19,19,350000,Pune,m,1991-01-25,80.53,state board,2008.0,80.50,state board,8743,2,B.Tech/B.E.,information technology,58.61,8743.0,0,Maharashtra,2013,645,795,675,0.983750,635,-1,-1,-1,-1,-1,-1,-0.4463,1.3779,0.9322,-0.9950,0.8637

In [5]:
train[train.collegeGPA < 10].collegeGPA

220     8.58
913     8.07
1224    6.85
1346    8.89
1438    8.13
1495    6.95
1576    6.63
2114    6.45
2418    9.30
2864    7.56
2953    6.80
Name: collegeGPA, dtype: float64

In [6]:
train.replace(train.iloc[220].collegeGPA,85.8, inplace = True)

In [7]:
train.replace(train.iloc[913].collegeGPA,80.7, inplace = True)
train.replace(train.iloc[1224].collegeGPA,68.5, inplace = True)
train.replace(train.iloc[1346].collegeGPA,88.9, inplace = True)
train.replace(train.iloc[1438].collegeGPA,81.3, inplace = True)
train.replace(train.iloc[1495].collegeGPA,69.5, inplace = True)
train.replace(train.iloc[1576].collegeGPA,66.3, inplace = True)
train.replace(train.iloc[2114].collegeGPA,64.5, inplace = True)
train.replace(train.iloc[2418].collegeGPA,93.0, inplace = True)
train.replace(train.iloc[2864].collegeGPA,75.6, inplace = True)
train.replace(train.iloc[2953].collegeGPA,68.0, inplace = True)

In [8]:
test.replace(train.iloc[158].collegeGPA,88.8, inplace = True)

group_by_city = train.groupby(['JobCity'])
group_by_city = test.groupby(['JobCity'])

drop_index_jobcity = train[train['JobCity'] == '-1'].index
drop_index_jobcity_test = test[test['JobCity'] == '-1'].index

train.drop(drop_index_jobcity, inplace = True)
test.drop(drop_index_jobcity_test, inplace = True)

train = train.reset_index()
test = test.reset_index()

In [9]:
train['JobCity'] = train['JobCity'].str.lower()
test['JobCity'] = test['JobCity'].str.lower()

In [10]:
train['YOB'] = train['DOB'].str[:4]
test['YOB'] = test['DOB'].str[:4]

In [11]:
train['YOB'] = train['YOB'].astype(int)
test['YOB'] = test['YOB'].astype(int)

In [12]:
diff_12_yob = train['12graduation'] - train['YOB']
diff_12_yob_ = test['12graduation'] - test['YOB']

In [13]:
diff_12_yob.dropna(inplace = True)
diff_12_yob_.dropna(inplace = True)

In [14]:
train['12graduation'].fillna(train['YOB'] + 18, inplace = True)
test['12graduation'].fillna(test['YOB'] + 18, inplace = True)

In [15]:
traintest1 = train.dropna(subset = ["10percentage"])
regr = linear_model.LinearRegression()
a = np.array(traintest1['10percentage']).reshape(2808,1)
b = np.array(traintest1['12percentage']).reshape(2808,1)
mod1 = regr.fit(b,a)
intercept = regr.intercept_
coeff = regr.coef_

test2 = train['12percentage'][train['10percentage'].isnull()]
predict = regr.predict(test2.values.reshape(192,1))
test2.replace(to_replace = test2.values, value=predict, inplace = True)
train['10percentage'].fillna(value=test2,inplace = True)

In [16]:
traintest1 = test.dropna(subset = ["10percentage"])
regr = linear_model.LinearRegression()
a = np.array(traintest1['10percentage']).reshape(950,1)
b = np.array(traintest1['12percentage']).reshape(950,1)
mod1 = regr.fit(b,a)
intercept = regr.intercept_
coeff = regr.coef_

test2 = test['12percentage'][test['10percentage'].isnull()]
predict = regr.predict(test2.values.reshape(48,1))
test2.replace(to_replace = test2.values, value=predict, inplace = True)
test['10percentage'].fillna(value=test2,inplace = True)

In [17]:
train.drop(['CollegeCityID'], axis=1, inplace = True)
test.drop(['CollegeCityID'], axis=1, inplace = True)

In [18]:
train.drop(['Specialization'], axis=1, inplace = True)
test.drop(['Specialization'], axis=1, inplace = True)
train.drop(['English'], axis=1, inplace = True)
test.drop(['English'], axis=1, inplace = True)
train.drop(['Logical'], axis=1, inplace = True)
test.drop(['Logical'], axis=1, inplace = True)
train.drop(['Quant'], axis=1, inplace = True)
test.drop(['Quant'], axis=1, inplace = True)

In [19]:
train.drop(['CollegeID'], axis=1, inplace = True)
test.drop(['CollegeID'], axis=1, inplace = True)

In [20]:
train = train.reset_index()

In [21]:
train['10board'].unique()

array(['state board', 'cbse', '0', 'tamilnadu state board',
       'karnataka state board', 'icse', 'board of secondary education',
       'up board', 'rbse', 'maharashtra', 'ssc', 'hse',
       'ssc maharashtra board', 'kerala state board', 'bse', 'wbbse',
       'sslc board', 'up', 'up board,allahabad', 'mp board',
       'rajasthan board', 'bse, odisha', 'matriculation', 'biharboard',
       'west bengal board of secondary eucation',
       'central board of secondary education', 'maharashtra state board',
       'state', 'maharashtra state board for ssc', 'kolhapur', 'mp',
       'state board ', 'bse(board of secondary education)',
       'maharashtra nasik board', 'sslc', 'hbsc',
       'haryana board of school education', 'up board , allahabad',
       'uttar pradesh board', 'stmary higher secondary',
       'karantaka secondary education and examination borad',
       'maharashtra state(latur board)',
       'karnataka secondary education examination board',
       'jharkhand acedemic council', 'kseeb', 'state board (jac, ranchi)',
       'j & k bord', 'icse board , new delhi', 'ssc-andhra pradesh',
       'central board of secondary education, new delhi', 'hse,orissa',
       'board of secondary school education', 'gujarat state board',
       'upboard', 'maharashtra state board pune', 'maharashtra board',
       'mpbse', 'stateboard',
       'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district',
       'karnataka board', 'karnataka state secondary education board',
       'bsepatna', 'cbse board', 'kerala university',
       'board of secondary education,rajasthan(rbse)', 'cgbse',
       'sri kannika parameswari highier secondary school, udumalpet',
       'secondary school education', 'uttaranchal state board',
       'jharkhand secondary examination board (ranchi)',
       'kerala state technical education', 'dav public school sec 14',
       'metric', 'punjab school education board, mohali',
       'secondary school certificate', 'karnataka', 'ms board',
       'bright way college, (up board)',
       'board of school education harayana', 'jkbose', 'bseb',
       'bse,odisha', 'bseb patna',
       'rajasthan board of secondary education',
       'board of secondary education rajasthan', 'tn state board', 'pseb',
       'dav public school,hehal', 'karnataka secondary education board',
       'karnataka secondary board', 'matric',
       'board of secondary education,andhra pradesh',
       'west bengal board of secondary education', 'maharastra board',
       'bseb,patna', 'gyan bharati school', 'hsc', 'anglo indian',
       'madhya pradesh board', 'maharashtra board, pune',
       'j&k state board of school education', 'nagpur',
       'board of school education uttarakhand',
       'maharashtra state board mumbai divisional board', 'bsc,orissa',
       'uttarakhand board', 'nagpur board',
       'secondary school of education', "stmary's convent inter college",
       'board secondary  education', 'mhsbse',
       'board of  secondary education', 'jharkhand accademic council',
       'don bosco maatriculation school',
       'board of secondary education orissa', 'matric board', 'cbse ',
       'karnataka state education examination board', 'ua', 'cluny',
       'board of secendary education orissa', 'ksseb', 'latur board',
       'board of secondary education - andhra pradesh', 'hbse', 'bihar',
       'state bord', 'cicse',
       'board of secondary education, andhra pradesh', 'up(allahabad)',
       'bse,orissa', 'nagpur divisional board',
       'ksseb(karnataka state board)', 'icse board',
       'matriculation board', 'bihar board',
       'board of ssc education andhra pradesh',
       'maharashtra state board of secondary & higher secondary education',
       'jharkhand secondary examination board,ranchi', 'gseb',
       'kseeb(karnataka secondary education examination board)',
       'cgbse raipur', 'uttar pradesh', 'cbse[gulf zone]', 'mpboard',
       'aisse', 'tamilnadu matriculation board', 'pune board',
       'bihar school examination board',
       'uttaranchal shiksha avam pariksha parishad', 'apssc',
       'holy cross matriculation hr sec school',
       'andhra pradesh state board',
       'karnataka board of higher education', 'tamil nadu state',
       'up-board',
       'maharashtra state boar of secondary and higher secondary education',
       'board of secondaray education', 'state board of karnataka',
       'bihar examination board, patna',
       'maharashtra state board of secondary and higher secondary education,pune',
       'stjosephs girls higher sec school,dindigul',
       'board ofsecondary education,ap', 'karnataka education board',
       'jharkhand secondary education board', 'pune',
       'maharashtra state board of secondary and higher secondary education',
       'state board of secondary education, ap', 'bseb, patna',
       'karnataka secondory education board',
       'council for indian school certificate examination', 'hsce',
       'bihar secondary education board,patna', 'board of ssc',
       'mp board bhopal', 'latur', 'apsche', 'msbshse,pune',
       'state board of secondary education( ssc)',
       'school secondary education, andhra pradesh', 'uttranchal board',
       'bsemp', 'gsheb', 'nagpur board,nagpur',
       'education board of kerala', 'u p board', 'seba(assam)', 'seba',
       'rajasthan board ajmer', 'kseb',
       'board of secondary education, rajasthan',
       'himachal pradesh board of school education',
       'state board - west bengal board of secondary education : wbbse',
       'up baord', 'rbse,ajmer', 'ghseb', 'gujarat board', 'ssc regular',
       'kea', 'upbhsie', 'karnataka sslc board bangalore', 'u p',
       'jbse,jharkhand', 'board of secondary education (bse) orissa',
       'nasik', 'jseb', 'karnataka education board (keeb)',
       'sarada high scchool', 'jawahar navodaya vidyalaya',
       'board of secondary education(bse) orissa',
       'karnataka state examination board', 'mumbai board',
       'karnataka secondary education', 'nashik board', 'mp-bse',
       'secondary state certificate', 'maharashtra state board,pune',
       'delhi board', 'kalaimagal matriculation higher secondary school',
       'sss pune', 'up bourd', 'bseb ,patna',
       'board of high school and intermediate education uttarpradesh',
       'board of secondary education,ap', 'state(karnataka board)',
       'board of secondary education,odisha'], dtype=object)

In [22]:
train['10board_1'] = train['10board'].map(lambda x:0 if x == '0' else '1' if x == 'cbse' else '2' if x == 'icse' else '3')

In [23]:
train['10board'] = train['10board_1'].astype(int)

In [24]:
train.drop(['10board_1'], axis =1 , inplace = True)

In [25]:
test['10board_1'] = test['10board'].map(lambda x:0 if x == '0' else '1' if x == 'cbse' else '2' if x == 'icse' else '3')
test['10board'] = test['10board_1'].astype(int)
test.drop(['10board_1'], axis =1 , inplace = True)

In [26]:
train['12board_1'] = train['12board'].map(lambda x:0 if x == '0' else '1' if x == 'cbse' else '2' if x == 'icse' else '3')
train['12board'] = train['12board_1'].astype(int)
train.drop(['12board_1'], axis =1 , inplace = True)

In [27]:
test['12board_1'] = test['12board'].map(lambda x:0 if x == '0' else '1' if x == 'cbse' else '2' if x == 'icse' else '3')
test['12board'] = test['12board_1'].astype(int)
test.drop(['12board_1'], axis =1 , inplace = True)

In [28]:
train.Gender = train.Gender.map({'m':1, 'f':2})
test.Gender = test.Gender.map({'m':1, 'f':2})

In [29]:
test.isna().sum()

Unnamed: 0                 0
ID                         0
JobCity                    0
Gender                     0
DOB                        0
10percentage               0
10board                    0
12graduation               0
12percentage               0
12board                    0
CollegeTier                0
Degree                     0
collegeGPA                 0
CollegeCityTier            0
CollegeState               0
GraduationYear             0
Domain                     0
ComputerProgramming        0
ElectronicsAndSemicon      0
ComputerScience            0
MechanicalEngg             0
ElectricalEngg             0
TelecomEngg                0
CivilEngg                  0
conscientiousness         97
agreeableness              0
extraversion               0
nueroticism              156
openess_to_experience      0
YOB                        0
dtype: int64

train['Specialization'].replace(['computer application','information science engineering','electronics and computer engineering', 'computer engineering','computer science & engineering', 'information technology','computer science and technology','computer and communication engineering','computer networking','computer science','information & communication technology','information science'], '1', inplace = True)
train['Specialization'].replace(['electronics and communication engineering', 'electronics and electrical engineering','electronics & instrumentation eng', 'electronics & telecommunications','electrical engineering','electronics engineering','instrumentation and control engineering','electronics and instrumentation engineering','applied electronics and instrumentation','telecommunication engineering','embedded systems technology','power systems and automation','electrical and power engineering','electronics','instrumentation engineering'], '2', inplace = True)
train['Specialization'].replace(['industrial & production engineering', 'mechanical engineering','mechatronics', 'automobile/automotive engineering','mechanical and automation','aeronautical engineering','mechanical & production engineering','metallurgical engineering','industrial engineering'], '3', inplace = True)
train['Specialization'].replace(['civil engineering','biotechnology', 'other','chemical engineering', 'polymer technology','biomedical engineering'], '4', inplace = True)
train['Specialization'].fillna('4',inplace = True)

test['Specialization'].replace(['computer application','computer science & engineering','computer engineering','information technology','information science engineering','information & communication technology','computer science and technology'], '1', inplace = True)
test['Specialization'].replace(['electronics and communication engineering','telecommunication engineering', 'electrical engineering','electronics & instrumentation eng','electronics & telecommunications','electronics engineering','electronics and instrumentation engineering','electronics and electrical engineering','applied electronics and instrumentation','control and instrumentation engineering','instrumentation and control engineering' ], '2', inplace = True)
test['Specialization'].replace(['industrial & production engineering', 'internal combustion engine','mechanical engineering','mechatronics', 'automobile/automotive engineering','mechanical and automation','aeronautical engineering','mechanical & production engineering','metallurgical engineering','industrial engineering'], '3', inplace = True)
test['Specialization'].replace(['civil engineering','biotechnology', 'other','chemical engineering', 'polymer technology','biomedical engineering','industrial & management engineering'], '4', inplace = True)
test['Specialization'].fillna('4',inplace = True)

tenth_board_zero = train[train['10board'] == '0'].index
tenth_board_zero_ = test[test['10board'] == '0'].index

train.drop(tenth_board_zero, inplace = True)
test.drop(tenth_board_zero_, inplace = True)

train['10board'] = train['10board'].astype("category")
test['10board'] = test['10board'].astype("category")

train['10board'].cat.codes.unique()
test['10board'].cat.codes.unique()

train['10board'] = train['10board'].cat.codes
test['10board'] = test['10board'].cat.codes

train['12board'] = train['12board'].astype("category")
train['12board'] = train['12board'].cat.codes
test['12board'] = test['12board'].astype("category")
test['12board'] = test['12board'].cat.codes

In [30]:
train.Degree = train.Degree.astype("category").cat.codes
test.Degree = test.Degree.astype("category").cat.codes

train.Specialization = train.Specialization.astype("category").cat.codes
test.Specialization = test.Specialization.astype("category").cat.codes

In [31]:
train.CollegeState = train.CollegeState.astype("category").cat.codes
test.CollegeState = test.CollegeState.astype("category").cat.codes

In [32]:
train['JobCity'] = train['JobCity'].str.lower()
train['JobCity'].replace(['bangalore', 'bangalore ','banglore', 'bangalore','bengaluru',
                                            'banagalore', ' bangalore', 'banglore', 'banglore', 'banglore ', 'asifabadbanglore', 'bangalore ','bangalore '], 'bangalore', inplace = True) 
train['JobCity'].replace(['bhubaneshwar', 'bhubaneswar','bhubneshwar', 'bhubaneswar '], 'bhubaneshwar', inplace = True)

train['JobCity'].replace(['new delhi', 'delhi',' delhi', 'new delhi ','new dehli'], 'new delhi', inplace = True)

train['JobCity'].replace(['bhopal', 'bhopal '], 'bhopal', inplace = True)

train['JobCity'].replace(['sonepat', 'sonipat'], 'sonipat', inplace = True)

train['JobCity'].replace(['tirupati', 'tirupathi'], 'tirupati', inplace = True)

train['JobCity'].replace(['hyderabad', 'hyderabad ', 'hyderabad(bhadurpally)','hderabad'], 'hyderabad', inplace = True)

train['JobCity'].replace(['gurgaon', 'gurgaon ', 'gurga', 'gurgoan', 'guragaon'], 'gurgaon', inplace = True)

train['JobCity'].replace(['noida', 'greater noida','noida '], 'noida', inplace = True)

train['JobCity'].replace(['pune', ' pune','pune ','punr'], 'pune', inplace = True)

train['JobCity'].replace(['muzzafarpur', 'muzaffarpur'], 'muzaffarpur', inplace = True)

train['JobCity'].replace(['jaipur', 'jaipur '], 'jaipur', inplace = True)

train['JobCity'].replace(['kanpur', 'kanpur '], 'kanpur', inplace = True)

train['JobCity'].replace(['nagpur', 'nagpur '], 'nagpur', inplace = True)

train['JobCity'].replace(['thiruvananthapuram', 'trivandrum','trivandrum '], 'trivandrum', inplace = True)

train['JobCity'].replace(['vsakhapttnam', 'vizag','vishakhapatnam','visakhapatnam'], 'vizag', inplace = True)

train['JobCity'].replace(['gandhi nagar','gandhinagar'], 'gandhinagar', inplace = True)

train['JobCity'].replace(['chennai', 'chennai ',' chennai'], 'chennai', inplace = True)

train['JobCity'].replace(['delhi/ncr','ncr'], 'ncr', inplace = True)

train['JobCity'].replace(['trichy','trichur'], 'trichur', inplace = True)

train['JobCity'].replace(['nasikcity','nashik'], 'nashik', inplace = True)
train['JobCity'].replace(['madurai ','madurai'], 'madurai', inplace = True)

train['JobCity'].replace([' mumbai','mumbai '], 'mumbai', inplace = True)

train['JobCity'].replace(['kolkata ','kolkata`'], 'kolkata', inplace = True)

train['JobCity'].replace(['siliguri '], 'siliguri', inplace = True)

train['JobCity'].replace(['mysore '], 'mysore', inplace = True)

train['JobCity'].replace(['rae bareli'], 'bareli', inplace = True)

train['JobCity'].replace(['ahmedabad '], 'ahmedabad', inplace = True)

train['JobCity'].replace(['chandigarh '], 'chandigarh', inplace = True)

train['JobCity'].replace(['ranchi '], 'ranchi', inplace = True)
test['JobCity'] = test['JobCity'].str.lower()
test['JobCity'].replace(['bangalore', 'bangalore ','banglore', 'bangalore','bengaluru',
                                            'banagalore', ' bangalore', 'banglore', 'banglore', 'banglore ', 'asifabadbanglore', 'bangalore ','bangalore '], 'bangalore', inplace = True) 
test['JobCity'].replace(['bhubaneshwar', 'bhubaneswar','bhubneshwar', 'bhubaneswar '], 'bhubaneshwar', inplace = True)

test['JobCity'].replace(['new delhi', 'delhi',' delhi', 'new delhi ','new dehli'], 'new delhi', inplace = True)

test['JobCity'].replace(['bhopal', 'bhopal '], 'bhopal', inplace = True)

test['JobCity'].replace(['sonepat', 'sonipat'], 'sonipat', inplace = True)

test['JobCity'].replace(['tirupati', 'tirupathi'], 'tirupati', inplace = True)

test['JobCity'].replace(['hyderabad', 'hyderabad ', 'hyderabad(bhadurpally)','hderabad'], 'hyderabad', inplace = True)

test['JobCity'].replace(['gurgaon', 'gurgaon ', 'gurga', 'gurgoan', 'guragaon'], 'gurgaon', inplace = True)

test['JobCity'].replace(['noida', 'greater noida','noida '], 'noida', inplace = True)

test['JobCity'].replace(['pune', ' pune','pune ','punr'], 'pune', inplace = True)

test['JobCity'].replace(['muzzafarpur', 'muzaffarpur'], 'muzaffarpur', inplace = True)

test['JobCity'].replace(['jaipur', 'jaipur '], 'jaipur', inplace = True)

test['JobCity'].replace(['kanpur', 'kanpur '], 'kanpur', inplace = True)

test['JobCity'].replace(['nagpur', 'nagpur '], 'nagpur', inplace = True)

test['JobCity'].replace(['thiruvananthapuram', 'trivandrum','trivandrum '], 'trivandrum', inplace = True)

test['JobCity'].replace(['vsakhapttnam', 'vizag','vishakhapatnam','visakhapatnam'], 'vizag', inplace = True)

test['JobCity'].replace(['gandhi nagar','gandhinagar'], 'gandhinagar', inplace = True)

test['JobCity'].replace(['chennai', 'chennai ',' chennai'], 'chennai', inplace = True)

test['JobCity'].replace(['delhi/ncr','ncr'], 'ncr', inplace = True)

test['JobCity'].replace(['trichy','trichur'], 'trichur', inplace = True)

test['JobCity'].replace(['nasikcity','nashik'], 'nashik', inplace = True)
test['JobCity'].replace(['madurai ','madurai'], 'madurai', inplace = True)

test['JobCity'].replace([' mumbai','mumbai '], 'mumbai', inplace = True)

test['JobCity'].replace(['kolkata ','kolkata`'], 'kolkata', inplace = True)

test['JobCity'].replace(['siliguri '], 'siliguri', inplace = True)

test['JobCity'].replace(['mysore '], 'mysore', inplace = True)

test['JobCity'].replace(['rae bareli'], 'bareli', inplace = True)

test['JobCity'].replace(['ahmedabad '], 'ahmedabad', inplace = True)

test['JobCity'].replace(['chandigarh '], 'chandigarh', inplace = True)

test['JobCity'].replace(['ranchi '], 'ranchi', inplace = True)

In [33]:
test['JobCity_Tier'] = test['JobCity'].map(lambda x: '1' if x in ['dubai','jeddah saudi arabia''australia','johannesburg','al jubail,saudi arabia'] else '2' if x in ['bangalore','chennai','chennai & mumbai','hyderabad', 'new delhi','navi mumbai', 'mumbai','pune', 'kolkata', 'lucknow', 'gurgaon','indore', 'jaipur','noida','faridabad','patna','bhubaneshwar','bhopal','vijayawada','chandigarh','ghaziabad','rajkot','vizag','chennai, bangalore','kochi/cochin','surat', 'gandhinagar','dhanbad','secunderabad','kochi/cochin','chennai and coimbatore','ncr', 'sahibabad'] else '3')
test['JobCity'] = test ['JobCity_Tier'].astype(int)
test.drop(['JobCity_Tier'], axis =1 , inplace = True)

In [34]:
train['JobCity_Tier'] = train['JobCity'].map(lambda x: '1' if x in ['dubai','jeddah saudi arabia''australia','johannesburg','al jubail,saudi arabia'] else '2' if x in ['bangalore','chennai','chennai & mumbai','hyderabad', 'new delhi','navi mumbai', 'mumbai','pune', 'kolkata', 'lucknow', 'gurgaon','indore', 'jaipur','noida','faridabad','patna','bhubaneshwar','bhopal','vijayawada','chandigarh','ghaziabad','rajkot','vizag','chennai, bangalore','kochi/cochin','surat', 'gandhinagar','dhanbad','secunderabad','kochi/cochin','chennai and coimbatore','ncr', 'sahibabad'] else '3')
train['JobCity'] = train['JobCity_Tier'].astype(int)
train.drop(['JobCity_Tier'], axis =1 , inplace = True)

In [35]:
train.drop(['Unnamed: 0', 'DOB'],axis = 1, inplace = True)
test.drop(['Unnamed: 0', 'DOB'],axis = 1, inplace = True)

In [36]:
pd.set_option('display.max_columns', 32)

In [37]:
train2 = train

In [38]:
train2

,index,ID,Salary,JobCity,Gender,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,YOB
0,0,0,200000,2,1,55.5,3,2007.0,52.50,3,2,3,72.80,0,23,2013,0.864685,525,-1,-1,-1,-1,-1,-1,NaN,-0.6201,-0.1437,0.9066,-1.6273,1990
1,1,1,190000,2,1,83.0,3,2008.0,86.00,3,2,0,71.00,1,20,2013,0.376060,425,300,-1,-1,-1,313,-1,-0.1590,0.8784,0.7785,0.1459,1.2470,1990
2,2,2,335000,2,1,81.2,1,2008.0,75.40,1,1,0,74.10,0,13,2013,0.911395,685,-1,500,-1,-1,-1,-1,-1.0208,-1.1196,-0.6048,0.5262,0.2889,1991
3,3,3,325000,2,1,85.0,1,2008.0,68.60,1,2,0,64.50,0,7,2012,0.450877,395,-1,-1,-1,-1,-1,-1,-0.9969,0.0328,-0.3440,0.7086,-1.2354,1990
4,4,4,360000,2,1,89.9,3,2009.0,84.50,3,2,0,68.00,0,11,2013,-1.000000,455,-1,-1,-1,-1,-1,-1,1.2772,0.8784,0.4711,-0.7415,0.4805,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,2995,510000,2,2,85.6,1,2009.0,87.20,1,2,0,73.00,0,7,2013,0.622643,515,-1,407,-1,-1,-1,-1,-1.0208,-0.6201,-0.7585,NaN,-1.4356,1991
2996,2996,2996,210000,2,1,88.6,3,2010.0,74.16,3,2,0,73.10,0,20,2014,0.744758,415,-1,438,-1,-1,-1,-1,0.9900,0.3789,0.4711,-1.5021,0.8637,1992
2997,2997,2997,335000,2,1,52.0,0,2006.0,55.00,0,2,0,65.80,0,23,2012,0.276047,345,-1,-1,-1,-1,-1,-1,-1.1128,-2.6193,-1.0697,1.3255,-1.2354,1990
2998,2998,2998,370000,2,1,74.6,1,2005.0,80.80,1,2,0,72.45,0,23,2010,0.960603,-1,466,-1,-1,-1,-1,-1,0.8192,0.3448,1.1074,-0.1727,1.4502,1988
2999,2999,2999,240000,2,1,65.0,3,2007.0,50.00,3,2,3,73.14,1,11,2013,0.793581,495,-1,-1,-1,-1,-1,-1,-0.8772,-0.6201,-0.4511,0.6530,-0.4776,1989

from statsmodels.stats.outliers_influence import variance_inflation_factor 
from statsmodels.tools.tools import add_constant

def calculate_vif_(df, thresh=6):
    '''
    Calculates VIF each feature in a pandas dataframe
    A constant must be added to variance_inflation_factor or the results will be incorrect

    :param X: the pandas dataframe
    :param thresh: the max VIF value before the feature is removed from the dataframe
    :return: dataframe with features removed
    '''
    const = add_constant(df)
    cols = const.columns
    variables = np.arange(const.shape[1])
    vif_df = pd.Series([variance_inflation_factor(const.values, i) 
               for i in range(const.shape[1])], 
              index=const.columns).to_frame()

    vif_df = vif_df.sort_values(by=0, ascending=False).rename(columns={0: 'VIF'})
    vif_df = vif_df.drop('const')
    vif_df = vif_df[vif_df['VIF'] > thresh]

    print('Features above VIF threshold:\n')
    print(vif_df[vif_df['VIF'] > thresh])

    col_to_drop = list(vif_df.index)

    for i in col_to_drop:
        print('Dropping: {}'.format(i))
        df = df.drop(columns=i)

    return df

train['Specialization'] = train['Specialization'].astype("category")
train['Specialization'] = train['Specialization'].cat.codes

df_vif = pd.DataFrame()
df_vif = calculate_vif_(train,5)
df = df_vif

In [39]:
data = [train2, test]

for dataset in data:
    mean = dataset["nueroticism"].mean()
    std = dataset["nueroticism"].std()
    is_null = dataset["nueroticism"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["nueroticism"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["nueroticism"] = age_slice
    dataset["nueroticism"] = dataset["nueroticism"].astype(int)
dataset["nueroticism"].isnull().sum()

0

In [40]:
data = [train2,test]

for dataset in data:
    mean = dataset["conscientiousness"].mean()
    std = dataset["conscientiousness"].std()
    is_null = dataset["conscientiousness"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["conscientiousness"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["conscientiousness"] = age_slice
    dataset["conscientiousness"] = dataset["conscientiousness"].astype(int)
dataset["conscientiousness"].isnull().sum()

0

data = [train,test]

for dataset in data:
    mean = dataset["10percentage"].mean()
    std = dataset["10percentage"].std()
    is_null = dataset["10percentage"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["10percentage"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["10percentage"] = age_slice
    dataset["10percentage"] = dataset["10percentage"].astype(int)
dataset["10percentage"].isnull().sum()

In [41]:
train2 = train2.drop('ID', axis=1)
X_train = train2.drop(["Salary"], axis=1)
Y_train = train2["Salary"]
X_test  = test.drop("ID", axis=1)

In [42]:
X_train.drop(['index'] , axis = 1, inplace = True)

In [43]:
X_train

,JobCity,Gender,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,YOB
0,2,1,55.5,3,2007.0,52.50,3,2,3,72.80,0,23,2013,0.864685,525,-1,-1,-1,-1,-1,-1,-1,-0.6201,-0.1437,0,-1.6273,1990
1,2,1,83.0,3,2008.0,86.00,3,2,0,71.00,1,20,2013,0.376060,425,300,-1,-1,-1,313,-1,0,0.8784,0.7785,0,1.2470,1990
2,2,1,81.2,1,2008.0,75.40,1,1,0,74.10,0,13,2013,0.911395,685,-1,500,-1,-1,-1,-1,-1,-1.1196,-0.6048,0,0.2889,1991
3,2,1,85.0,1,2008.0,68.60,1,2,0,64.50,0,7,2012,0.450877,395,-1,-1,-1,-1,-1,-1,0,0.0328,-0.3440,0,-1.2354,1990
4,2,1,89.9,3,2009.0,84.50,3,2,0,68.00,0,11,2013,-1.000000,455,-1,-1,-1,-1,-1,-1,1,0.8784,0.4711,0,0.4805,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2,2,85.6,1,2009.0,87.20,1,2,0,73.00,0,7,2013,0.622643,515,-1,407,-1,-1,-1,-1,-1,-0.6201,-0.7585,-1,-1.4356,1991
2996,2,1,88.6,3,2010.0,74.16,3,2,0,73.10,0,20,2014,0.744758,415,-1,438,-1,-1,-1,-1,0,0.3789,0.4711,-1,0.8637,1992
2997,2,1,52.0,0,2006.0,55.00,0,2,0,65.80,0,23,2012,0.276047,345,-1,-1,-1,-1,-1,-1,-1,-2.6193,-1.0697,1,-1.2354,1990
2998,2,1,74.6,1,2005.0,80.80,1,2,0,72.45,0,23,2010,0.960603,-1,466,-1,-1,-1,-1,-1,0,0.3448,1.1074,0,1.4502,1988
2999,2,1,65.0,3,2007.0,50.00,3,2,3,73.14,1,11,2013,0.793581,495,-1,-1,-1,-1,-1,-1,0,-0.6201,-0.4511,0,-0.4776,1989

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_train.shape

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
sc = StandardScaler()
X_test = sc.fit_transform(X_test)
X_test.shape

In [44]:
train2 = train2.reset_index()

In [45]:
train2.drop(['index'], axis = 1, inplace = True)

In [ ]:
pca = PCA(n_components=2, random_state=1)
principal_components = pca.fit_transform(X_train)
plt.scatter(principal_components[:,0],principal_components[:,1], c = Y_train)

In [ ]:
principal_components = pd.DataFrame(principal_components)
drop_index = principal_components[(principal_components[principal_components.columns[0]] > 4) | (principal_components[principal_components.columns[1]]>4) | (principal_components[principal_components.columns[1]] < -4) | (principal_components[principal_components.columns[0]] < -4)].index
drop_index

In [46]:
train2.drop(drop_index ,inplace = True)

NameError: name 'drop_index' is not defined

In [47]:
train2

,level_0,Salary,JobCity,Gender,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,YOB
0,0,200000,2,1,55.5,3,2007.0,52.50,3,2,3,72.80,0,23,2013,0.864685,525,-1,-1,-1,-1,-1,-1,-1,-0.6201,-0.1437,0,-1.6273,1990
1,1,190000,2,1,83.0,3,2008.0,86.00,3,2,0,71.00,1,20,2013,0.376060,425,300,-1,-1,-1,313,-1,0,0.8784,0.7785,0,1.2470,1990
2,2,335000,2,1,81.2,1,2008.0,75.40,1,1,0,74.10,0,13,2013,0.911395,685,-1,500,-1,-1,-1,-1,-1,-1.1196,-0.6048,0,0.2889,1991
3,3,325000,2,1,85.0,1,2008.0,68.60,1,2,0,64.50,0,7,2012,0.450877,395,-1,-1,-1,-1,-1,-1,0,0.0328,-0.3440,0,-1.2354,1990
4,4,360000,2,1,89.9,3,2009.0,84.50,3,2,0,68.00,0,11,2013,-1.000000,455,-1,-1,-1,-1,-1,-1,1,0.8784,0.4711,0,0.4805,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,510000,2,2,85.6,1,2009.0,87.20,1,2,0,73.00,0,7,2013,0.622643,515,-1,407,-1,-1,-1,-1,-1,-0.6201,-0.7585,-1,-1.4356,1991
2996,2996,210000,2,1,88.6,3,2010.0,74.16,3,2,0,73.10,0,20,2014,0.744758,415,-1,438,-1,-1,-1,-1,0,0.3789,0.4711,-1,0.8637,1992
2997,2997,335000,2,1,52.0,0,2006.0,55.00,0,2,0,65.80,0,23,2012,0.276047,345,-1,-1,-1,-1,-1,-1,-1,-2.6193,-1.0697,1,-1.2354,1990
2998,2998,370000,2,1,74.6,1,2005.0,80.80,1,2,0,72.45,0,23,2010,0.960603,-1,466,-1,-1,-1,-1,-1,0,0.3448,1.1074,0,1.4502,1988
2999,2999,240000,2,1,65.0,3,2007.0,50.00,3,2,3,73.14,1,11,2013,0.793581,495,-1,-1,-1,-1,-1,-1,0,-0.6201,-0.4511,0,-0.4776,1989

X_train.Gender = X_train.Gender.map({'m':1,'f':2})
X_test.Gender = X_test.Gender.map({'m':1,'f':2})

In [48]:
X_train

,JobCity,Gender,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,YOB
0,2,1,55.5,3,2007.0,52.50,3,2,3,72.80,0,23,2013,0.864685,525,-1,-1,-1,-1,-1,-1,-1,-0.6201,-0.1437,0,-1.6273,1990
1,2,1,83.0,3,2008.0,86.00,3,2,0,71.00,1,20,2013,0.376060,425,300,-1,-1,-1,313,-1,0,0.8784,0.7785,0,1.2470,1990
2,2,1,81.2,1,2008.0,75.40,1,1,0,74.10,0,13,2013,0.911395,685,-1,500,-1,-1,-1,-1,-1,-1.1196,-0.6048,0,0.2889,1991
3,2,1,85.0,1,2008.0,68.60,1,2,0,64.50,0,7,2012,0.450877,395,-1,-1,-1,-1,-1,-1,0,0.0328,-0.3440,0,-1.2354,1990
4,2,1,89.9,3,2009.0,84.50,3,2,0,68.00,0,11,2013,-1.000000,455,-1,-1,-1,-1,-1,-1,1,0.8784,0.4711,0,0.4805,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2,2,85.6,1,2009.0,87.20,1,2,0,73.00,0,7,2013,0.622643,515,-1,407,-1,-1,-1,-1,-1,-0.6201,-0.7585,-1,-1.4356,1991
2996,2,1,88.6,3,2010.0,74.16,3,2,0,73.10,0,20,2014,0.744758,415,-1,438,-1,-1,-1,-1,0,0.3789,0.4711,-1,0.8637,1992
2997,2,1,52.0,0,2006.0,55.00,0,2,0,65.80,0,23,2012,0.276047,345,-1,-1,-1,-1,-1,-1,-1,-2.6193,-1.0697,1,-1.2354,1990
2998,2,1,74.6,1,2005.0,80.80,1,2,0,72.45,0,23,2010,0.960603,-1,466,-1,-1,-1,-1,-1,0,0.3448,1.1074,0,1.4502,1988
2999,2,1,65.0,3,2007.0,50.00,3,2,3,73.14,1,11,2013,0.793581,495,-1,-1,-1,-1,-1,-1,0,-0.6201,-0.4511,0,-0.4776,1989

In [49]:
X_train.Degree = X_train.Degree.astype("category").cat.codes
X_test.Degree = X_test.Degree.astype("category").cat.codes

In [50]:
X_train.Specialization = X_train.Specialization.astype(int)
X_test.Specialization = X_test.Specialization.astype(int)

AttributeError: 'DataFrame' object has no attribute 'Specialization'

In [51]:
test

,ID,JobCity,Gender,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,YOB
0,3000,3,1,82.200000,1,2010.0,69.80,1,2,0,62.20,0,21,2014,0.207392,-1,260,-1,-1,-1,-1,-1,-1,0.0459,1.2396,1,-0.2859,1992
1,3001,2,1,81.500000,2,2009.0,83.16,2,1,0,71.44,0,21,2014,0.661834,-1,-1,-1,-1,446,-1,-1,-1,-0.1206,-0.2974,0,-0.8608,1991
2,3002,3,1,74.180000,3,2008.0,73.00,3,2,0,71.19,0,15,2012,0.058793,-1,200,-1,-1,-1,366,-1,0,-0.7473,-1.2148,1,-0.4455,1990
3,3003,2,1,70.648893,3,2007.0,62.50,3,2,2,75.83,1,10,2013,0.486747,445,-1,376,-1,-1,-1,-1,0,-0.2871,-0.6048,0,-1.4356,1988
4,3004,2,1,68.736228,1,2007.0,59.20,1,2,0,66.50,0,20,2012,0.538387,-1,333,-1,-1,-1,260,-1,0,0.9688,0.6720,-1,0.0284,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,3993,3,1,69.000000,3,2006.0,51.30,3,2,0,72.00,0,12,2014,0.744758,455,-1,438,-1,-1,-1,-1,0,-1.2861,0.0100,0,-0.4776,1987
994,3994,2,1,83.460000,3,2008.0,61.83,3,2,0,73.00,0,13,2014,0.953900,535,-1,530,-1,-1,-1,-1,0,0.3789,0.3174,-1,0.4805,1990
995,3995,2,1,86.340000,3,2009.0,83.70,3,2,0,72.19,0,0,2013,0.486747,445,-1,376,-1,-1,-1,-1,0,1.0449,1.8543,0,0.0973,1991
996,3996,2,1,79.600000,1,2009.0,73.20,1,2,0,66.96,1,16,2014,0.338786,-1,292,-1,-1,-1,-1,-1,-1,0.2124,0.3174,0,-0.4776,1991
997,3997,2,1,91.200000,1,2005.0,81.20,1,2,0,72.50,0,20,2010,0.884123,535,-1,-1,-1,-1,-1,-1,0,0.6568,0.5269,0,-0.9194,1987

In [52]:
X_train.English = pd.cut(X_train.English,8, labels = {1,2,3,4,5,6,7,8})

AttributeError: 'DataFrame' object has no attribute 'English'

In [ ]:
X_test.English = pd.cut(X_test.English,8, labels = {1,2,3,4,5,6,7,8})

In [ ]:
X_train.Quant = pd.cut(X_train.Quant,8, labels = {1,2,3,4,5,6,7,8})
X_train.Logical = pd.cut(X_train.Logical,8, labels = {1,2,3,4,5,6,7,8})

In [ ]:
X_test.Quant = pd.cut(X_test.Quant,8, labels = {1,2,3,4,5,6,7,8})
X_test.Logical = pd.cut(X_test.Logical,8, labels = {1,2,3,4,5,6,7,8})

In [ ]:
X_train.isna().sum()

train.drop(['level_0','index'],axis = 1, inplace = True)

In [53]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
regression_model = linear_model.LinearRegression()
regression_model.fit(X_train, Y_train)
Y_pred_train = regression_model.predict(X_test)
#rmse = mean_squared_error(Y_train, y_pred_train)
#r2 = r2_score(Y_train, y_pred_train)
#print('Slope:' ,regression_model.coef_)
#print('Intercept:', regression_model.intercept_)
#print('Root mean squared error: ', rmse)
#print('R2 score: ', r2)

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg = PolynomialFeatures(degree=4)
X_poly = poly_reg.fit_transform(X_train)
pol_reg = LinearRegression()
pol_reg.fit(X_train, Y_train)
Y_pred_train = pol_reg.predict(X_test)

In [ ]:
from sklearn.svm import SVR
svrlassifier = SVR(kernel='linear')
svrlassifier.fit(X_train, Y_train)
Y_pred_train = svrlassifier.predict(X_test)

In [ ]:
from sklearn.tree import DecisionTreeRegressor  
regressor = DecisionTreeRegressor(random_state = 0)  
regressor.fit(X_train, Y_train)
Y_pred_train = regressor.predict(X_test)

In [ ]:
clf = linear_model.Lasso(alpha=0.1)
clf.fit(X_train,Y_train)
Y_pred_train = clf.predict(X_test)

In [54]:
predictions = Y_pred_train
submission = pd.DataFrame({'ID':test['ID'], 'Salary':predictions})
filename = 'kriti_lohit_3_7.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: kriti_lohit_3_7.csv

In [ ]:
from xgboost import XGBClassifier
xg = XGBClassifier()
xg.fit(X_train, Y_train)
xg_predictions = xg.predict(X_test)
Y_pred9 = xg_predictions
acc_xg = round(xg.score(X_train, Y_train) * 100, 2)
print (acc_xg)

In [ ]:
predictions2 = Y_pred9
submission = pd.DataFrame({'ID':test['ID'], 'Salary':predictions})
filename = 'kriti_lohit2_6.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

param_test1 = {
    'n_estimators': [100,200,500,750,1000],
    'max_depth': [3,5,7,9],
    'min_child_weight': [1,3,5],
    'gamma':[i/10.0 for i in range(0,5)],
    'subsample':[i/10.0 for i in range(6,10)],
    'colsample_bytree':[i/10.0 for i in range(6,10)],
    'reg_alpha':[0, 0.001, 0.005, 0.01, 0.05, 0.1, 1],
    'learning_rate': [0.01, 0.02, 0.05, 0.1]
}
scoring = { 'Accuracy': make_scorer(accuracy_score)}
gsearch1 = GridSearchCV(estimator = XGBClassifier(), 
                       param_grid = param_test1, 
                       scoring=scoring, iid=False,
                       cv=5, verbose = 5, 
                       refit='Accuracy')
gsearch1.fit(X_train, Y_train)

In [ ]:
# Instantiate our model
xg = XGBClassifier(learning_rate=0.01, n_estimators=750,
                   max_depth= 3, min_child_weight= 1, 
                   colsample_bytree= 0.6, gamma= 0.0, 
                   reg_alpha= 0.01, subsample= 0.8
                  )
xg.fit(X_train, Y_train)
xg_predictions = xg.predict(X_test)
Y_pred10 = xg_predictions
acc_xg = round(xg.score(X_train, Y_train) * 100, 2)
print (acc_xg)

In [ ]:
predictions3 = Y_pred10
submission = pd.DataFrame({'ID':test['ID'], 'Salary':predictions})
filename = 'kriti_lohit3.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

In [ ]:
import lightgbm as lgb